@model RestaurantCuisine.Models.Cuisine;

@{
  Layout = "_Layout";
}

<div class="container-fluid">
  <h1>Add a cuisine</h1>
  <p>Add a cuisine here:</p>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" class="btn btn-primary" value="Add New Cuisine" />
  }
</div>
