@{
  Layout = "_Layout";
}

<div class="container-fluid">
  <h1>Welcome To The Restaurants and Cuisines List</h1>
  <div class="container pb-5">
    @Html.ActionLink("View All Cuisines", "Index", "Cuisines", null, new { @class = "btn btn-lg btn-info" })
    @Html.ActionLink("View All Restaurants", "Index", "Restaurants", null, new { @class = "btn btn-lg btn-info" })
  </div>
</div>
